* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Play", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  background-image: url("./images/background.jpg");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  height: 30vh;
  border-bottom: 7px solid #000;
}

.again {
  position: absolute;
  left: 1rem;
  top: 0.25rem;
}

h1 {
  font-size: 4rem;
}

.between {
  font-size: 1.5rem;
  font-weight: 700;
}

.randomNumber {
  background: #eee;
  color: #000;
  font-size: 5rem;
  border-radius: 50%;
  padding: 2rem;
  text-align: center;
  position: relative;
  top: 90px;
}

h1,
.between {
  position: relative;
  top: 60px;
}

main {
  height: 55vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess {
  height: 125px;
  width: 250px;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  border-width: 1rem;
  border-radius: 10px;
}

.check,
.again {
  margin-top: 30px;
  height: 70px;
  width: 145px;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  border-width: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
}

.check:hover,
.again:hover {
  background-color: #ccc;
}

.right {
  font-size: 2rem;
  font-weight: 700;
}

.message {
  margin-bottom: 30px;
  font-size: 2.5rem;
}
